<!DOCTYPE html>
<html>
    <head>
        <title>Force brute sur transposition</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==" crossorigin="anonymous" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        <style>
            body { margin: 0; text-align: center; font-family: sans-serif; }
            canvas { border: 1px solid #ccc; position: relative; }
            a, a:visited { color: #09f }
            .courierr{
                letter-spacing: 10px;
                font-family: courier;
                text-align: left;
                font-size: 1.3em;
                font-weight: bolder;
            }
            .courierr2{
                font-family: courier;
                text-align: left;
                font-weight: bolder;
            }
            .bordure {
                border: 3px solid grey;
            }
        </style>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div class="tile is-ancestor m-5" id="cesar">
            <div class="tile is-vertical is-4">
                <div class="tile">
                    <div class="tile is-parent is-vertical">

                        <article class="tile is-child notification is-light bordure">
                            <p class="title">Décodage transposition</p>
                            <p class="subtitle">force brute</p>
                            <div>
                                Outils pour casser un code par transposition.
                            </div>
                            <br>
                            <h1>Alphabet</h1>
                            <textarea class="textarea" placeholder="alphabet" rows="2" v-model="alphabet"></textarea>
                        </article>

                        <article class="tile is-child notification is-info">
                            <div>
                                <button v-on:click="reset()">Remise à 0</button>
                                <div v-for="l in alphabetSource()">
                                {{s(l)}} ({{compte(l, chiffre)}}) = 
                                <span v-if="fixe(l)">
                                    {{ s(decrypterLettre(l,table))}}
                                </span>
                                <select v-on:change="fixer(l, $event)" v-if="!fixe(l)">
                                    <option> </option>
                                    <option v-for="letter in alphabetEnListe()" 
                                            v-bind:value="letter">
                                        {{ s(letter) }}
                                    </option>
                                </select>
                            
                                </div>
                            </div>
                        </article>
                        
                    </div>
                </div>

            </div>
            <div class="tile is-parent is-vertical is-8">

                <article class="tile is-child notification is-dark">
                    <p class="subtitle">Zone attaque</p>
                    <div class="content">
                        <input v-model="chiffre" class="input is-info" type="text" placeholder="texte à chiffrer" v-on:input="maj()">
                        <div v-if="chiffre.length > 0">
                            <br>
                            <h2 class="has-text-light">↓ message encrypté ↓</h2>
                            <div class="courierr">
                                {{chiffre}}
                            </div>
                            <div class="courierr">
                                {{clair}}
                            </div>
                            
                            
                            <h2 class="has-text-light">↑ message décrypté ↑</h2>
                            <button v-on:click="go()">Go</button>
                            <button v-on:click="gotables()">Calcul des tables</button>
                        </div>

                    </div>
                </article>
                <article class="tile is-child notification is-light bordure">
                    <div class="content">
                        <p class="subtitle">Outils</p>
                        {{ table }}
                        MOTS EN FRANÇAIS:
                        <div v-for="(mot, index) in clair.split(' ')">
                            {{ index+1 }} : {{ mot }} 
                            <span v-for="match in correspondances(mot)">
                                {{match}}
                            </span>
                        </div>
                        <div class=" is-2 p-0" >
                            Utilise la liste de mots en français de pallier.org
                            {{ dictionnaire.length }} mots
                            {{ tables.length }} mots
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="columns m-5">
            <div class="column"></div>
            <div class="column notification is-danger">Fait avec 
                <a href="https://vuejs.org">Vue.js</a> et SVG par Joris Deguet en 2021
            </div>
            <div class="column"></div>
        </div>

        <script>
            function compteur(lettre, texte) {
                var lettres = texte.split('');
                var resultat = 0;
                for (var i = 0 ; i < lettres.length; i++){
                    var l = lettres[i];  
                    if (l === lettre) resultat++; 
                }
                return resultat;
            }

            
            var vue = new Vue({
                el: '#cesar',
                data: {
                    clair:'',
                    dico:'',
                    dictionnaire:[],
                    table:[],
                    tables: [],
                    stop:false,
                    chiffre: 'nynaeygiepqedyiaiewyggfkye',
                    chiffreAlphabet:'',
                    alphabet: 'abcdefghijklmnopqrstuvwxyz ',
                },
                mounted () {
                    axios
                        .get('dico.fr.txt')
                        .then(response => {
                            this.dico = response.data;
                            //console.log(this.dico);
                            this.dictionnaire = response.data.split('\r\n');
                            this.maj();
                        
                            var regexp = new RegExp('\r\nmessag.\r\n');
                            var find = regexp.exec(this.dico);
                            console.log(find);
                            //console.log(this.dictionnaire);
                            //this.decodeRec([], this.alphabetSource(), this.alphabetEnListe());
                        }
                    )
                    
                },
                methods: {
                    compte: compteur,
                    maj: function () {
                        var lettres = this.chiffre.split('');
                        var resultat = '';
                        for (var i = 0 ; i < lettres.length ; i++) {
                            var lettre = lettres[i];
                            var res = 
                                this.decrypterLettre(lettre, this.table);
                            resultat += res;
                        }
                        this.clair = resultat;
                    },
                    reset: function() {
                        this.table = [];
                        this.maj();
                    },
                    fixer: function(l, event) {
                        this.table.push(l);
                        this.table.push(event.target.value);
                        this.maj();
                    },
                    fixe: function(l) {
                        return this.decrypterLettre(l, this.table) !== '.';
                    },
                    decrypterLettre: function(lettre, table) {
                        for (var i = 0 ; i < table.length ; i = i+2) {
                            if (table[i] == lettre) return table[i+1];
                        }  
                        return '.';
                    },
                    decrypter: function (source, table) {
                        var lettres = source.split('');
                        var resultat = '';
                        for (var i = 0 ; i < lettres.length ; i++) {
                            var lettre = lettres[i];
                            var lettreDecryptee = 
                                this.decrypterLettre(lettre, table);
                            resultat += lettreDecryptee;
                        }
                        return resultat;
                    },
                    
                    
                    go: function() {
                        this.decodeRec([], this.alphabetSource(), this.alphabetEnListe());
                    },
                    gotables: function() {
                        this.tables = 
                        this.calculerTables([], this.alphabetSource(), this.alphabetEnListe());
                    },
                    
                    
                    
                    // match pour un patron de mot
                    correspondances: function(schema){
                        console.log('correspondances ' +schema);
                        var result = [];
                        if (schema.length == 0) return;
                        if (schema.length == this.chiffre.length) return;
                        console.log('correspondances 1 ' + schema);
                        if (this.justeDesPoints(schema)) return;
                        console.log('correspondances pour '+ schema);
                        
                        var regexp = new RegExp('\r\n'+schema+'\r\n', 'g');
                        var matches = this.dico.matchAll(regexp);
                        for (var match of matches) {
                            console.log(match);
                            result.push(match[0]);
                        }
                        return result;
                    },
                    // bases 
                    s: function(lettre) {
                        if (lettre === ' ') {
                            return '⎵'
                        } else {
                            return lettre;
                        }
                    },
                    justeDesPoints: function(chaine) {
                      for(var i = 0 ; i < chaine.length; i++) {
                          if (chaine[i] != '.') return false;
                      }  
                      return true;    
                    },
                    alphabetEnListe: function () {                     
                        return this.alphabet.split('');
                    },
                    alphabetSource: function () {
                        var candidats = this.chiffre.split('');
                        var result = [];
                        for (var i = 0 ; i < candidats.length ; i++){
                            var l = candidats[i];
                            if (!result.includes(l)) {
                                result.push(l);    
                            }
                        }
                        return result;
                    },
                    
                    
                    // décodage en force brute
                    existe: function(mot) {
                        var res = this.dictionnaire.includes(mot)
                        return this.dictionnaire.includes(mot);
                    },
                    calculerTables: function (tableCourante, alphabetSourceRestant, alphabetRestant) {
                        if (this.stop) return;
                        if (alphabetSourceRestant.length == 0) {
                            return [tableCourante];
                        } else {
                            var resultat = [];
                            var lsource = alphabetSourceRestant[0];
                            for (var i = 0 ; i < alphabetRestant.length ; i++) {
                                var l = alphabetRestant[i];
                                if (tableCourante.length == 0) {
                                    console.log('exploring ' + l);
                                }
                                // copy table courante dans nouvelle
                                nouvTable = tableCourante.slice();
                                nouvTable.push(lsource)
                                nouvTable.push(l);
                                // tout doit être une copie
                                var nouvSourceAlphabet = alphabetSourceRestant.slice(1);
                                var nouvAlphabet = [...alphabetRestant.slice(0, i) , ...alphabetRestant.slice(i+1)]
                                var rec = this.calculerTables(nouvTable, nouvSourceAlphabet, nouvAlphabet);
                                resultat.concat(rec);
                            }
                            return resultat;
                        } 
                    },
                    decodeRec: function(tableCourante, alphabetSourceRestant, alphabetRestant) {
                        if (this.stop) return;
                        if (alphabetSourceRestant.length == 0) {
                            var decrypteee = this.decrypter(this.chiffre, tableCourante);
                            var mots = decrypteee.split(' ');
                            console.log(decrypteee);
                            //console.log(tableCourante.toString());
                            var score = 0;
                            for (var i = 0 ; i < mots.length ; i++) {
                                if (mots[i].length > 0 && this.existe(mots[i])) {
                                    console.log("BINGO " + mots[i]);
                                    score += mots[i].length;
                                } 
                            }
                            if (score == decrypteee.length) {
                                console.log("BINGO  " + decrypteee + " " + score);
                            }
                            //this.table = tableCourante;
                            return;
                        } else {
                            // prendre la première lettre de source qui reste
                            // essayer toutes les lettres qui restent dans l'alphabet
                            var lsource = alphabetSourceRestant[0];
                            for (var i = 0 ; i < alphabetRestant.length ; i++) {
                                var l = alphabetRestant[i];
                                if (tableCourante.length == 0) {
                                    console.log('exploring ' + l);
                                }
                                // copy table courante dans nouvelle
                                nouvTable = tableCourante.slice();
                                nouvTable.push(lsource)
                                nouvTable.push(l);
                                // tout doit être une copie
                                var nouvSourceAlphabet = alphabetSourceRestant.slice(1);
                                var nouvAlphabet = [...alphabetRestant.slice(0, i) , ...alphabetRestant.slice(i+1)]
                                this.decodeRec(nouvTable, nouvSourceAlphabet, nouvAlphabet);
                            }
                        } 
                    },
                }
            })



        </script>

    </body>
</html>

